@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inder&display=swap");

[data-theme="light"] {
  --primary: hsl(25, 36%, 46%);
  --primary-darker: hsl(25, 41%, 38%);
  --text-heading: hsl(25, 36%, 46%);
  --text-color: hsl(225, 14%, 11%);
  --bg-color: hsl(0, 0%, 98%);
  --bg-component: hsl(0, 5%, 87%);
  --bg-color-transparency: hsl(0, 0%, 98%, 0.85);
  --bg-component-transparency: hsla(0, 6%, 87%, 0.85);
}

[data-theme="dark"] {
  --primary: hsl(25, 36%, 46%);
  --primary-darker: hsl(25, 41%, 38%);
  --text-heading: hsl(25, 36%, 46%);
  --text-color: hsl(0, 0%, 98%);
  --bg-color: hsl(240, 9%, 13%);
  --bg-component: hsl(225, 14%, 11%);
  --bg-color-transparency: hsl(240, 9%, 13%, 0.85);
  --bg-component-transparency: hsl(225, 14%, 11%, 0.85);
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  line-height: 1.5;
  margin: 0;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Forum", cursive;
  font-weight: 400;
  color: var(--text-heading);
}

p,
a,
li {
  font-family: "Inder", sans-serif;
  color: var(--text-color);
}

a:hover,
.active {
  color: var(--primary);
}

h1 {
  font-size: 4.768rem;
}
h2 {
  font-size: 3.815rem;
}
h3 {
  font-size: 3.052rem;
}
h4 {
  font-size: 2.441rem;
}
h5 {
  font-size: 1.953rem;
}
h6 {
  font-size: 1.563rem;
}

.p-small {
  font-size: 0.833rem;
}

.p-regular {
  font-size: 1rem;
}

.p-large {
  font-size: 1.2rem;
}

/* Start Navbar */
.navbar {
  background-color: var(--bg-color-transparency);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 500ms;
  z-index: 1;
}

.navbar.sticking {
  background-color: var(--bg-component);
}

.navbar-wrapper {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.navbar-brand p {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

.navbar img {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
}

.navbar-items {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar-item {
  text-decoration: none;
  padding: 1rem;
}

.navbar-lang {
  text-decoration: none;
}

.navbar-theme {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.navbar-theme span {
  pointer-events: none;
}

.navbar-theme:hover {
  background-color: transparent;
  transform: scale(1.15);
  transition: 0.2s;
  cursor: pointer;
}

[data-theme="light"] .d-block-light,
[data-theme="dark"] .d-block-dark {
  display: none;
}
/* End Navbar */

/* Start Hero */
.hero {
  height: 80dvh;
  width: auto;
  padding-top: 5rem;  
}

.hero-img {
  transform: translate(110%, -39.5%);
}
/* End Hero */
